// lottery style
// 头部颜色
$topLinkColor:#fff;
// 主题色
$themeColor:#fc6b0d;
$betInfoBg:rgba(229,229,229,0.9);
$betHBg:#f2f2f2;// 投注单项头部背景
$betHBorderColor:#d5d5d5;
$orange: #fa6200;
*{box-sizing: border-box;}
.header{
  .xiaozhushou{    position: absolute;
    right: -5px;
    color: #fff;z-index: 502;
    top: -14px;
    font-size: 12px;
    line-height: 1.4;
    width: 40px;
    .icon-xiaozhushou{background: url("/static/cssImages/ssc/icon-xiaozhushou.png") center/100%;display: block;width: 22px;height: 22px;margin: 4px auto 0;}
    .vux-popover{left: auto !important;right:0;}
    .popContent{width: (320px)/2;height: (1010px)/2;
      ul{list-style: none;
        li{
          a{height: 45px;line-height: 45px;float: none;display: block;margin:0;padding-left: 43px;position: relative;font-size: 17px;color: #666;
            &:after{content: '';position: absolute;left: 45px;right: 0;height: 1px;background: #e2e2e2;bottom: 0;}
            i{position: absolute;width: 43px;height: 45px;left: 0;top: 0;
              &.icon-person{background: url("/static/cssImages/lotto/xiaozhushou/icon-person.png") no-repeat center / 22px;}
              &.icon-wallet{background: url("/static/cssImages/lotto/xiaozhushou/icon-wallet.png") no-repeat center / #{(47px/2)};}
              &.icon-trophy{background: url("/static/cssImages/lotto/xiaozhushou/icon-trophy.png") no-repeat center / #{(52px/2)};}
              &.icon-ball1{background: url("/static/cssImages/lotto/xiaozhushou/icon-ball1.png") no-repeat center / #{(50px/2)};}
              &.icon-ball2{background: url("/static/cssImages/lotto/xiaozhushou/icon-ball2.png") no-repeat center / #{(44px/2)};}
              &.icon-magic{background: url("/static/cssImages/lotto/xiaozhushou/icon-magic.png") no-repeat center / #{(45px/2)};}
              &.icon-cart{background: url("/static/cssImages/lotto/xiaozhushou/icon-cart.png") no-repeat center / #{(52px/2)};}
              &.icon-ggl{background: url("/static/cssImages/lotto/xiaozhushou/icon-ggl.png") no-repeat center / #{(46px/2)};}
              &.icon-linep1{background: url("/static/cssImages/lotto/xiaozhushou/icon-linep1.png") no-repeat center / #{(45px/2)};}
              &.icon-linep2{background: url("/static/cssImages/lotto/xiaozhushou/icon-linep2.png") no-repeat center / #{(50px/2)};}
              &.icon-linep3{background: url("/static/cssImages/lotto/xiaozhushou/icon-linep3.png") no-repeat center / #{(47px/2)};}
            }
          }
          .vux-x-switch{display: inline-block;line-height: 1;vertical-align: top;margin-top: 8px;
            .weui-switch:checked, .weui-switch-cp__input:checked ~ .weui-switch-cp__box{    border-color:$themeColor;  background-color: $themeColor;}
            .weui-switch, .weui-switch-cp__box {width: 35px;height: 17px;border-radius: 8.5px;}
            .weui-switch:after, .weui-switch-cp__box:after {width: 15px; height: 15px; border-radius: 8px;}
            .weui-switch:before, .weui-switch-cp__box:before { width: 33px;height: 15px; border-radius: 7.5px;}
          }
        }
      }
    }
    .vux-popover-arrow-up {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
      left: auto;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      top: -5px;
      right: 16px;
    }
    .vux-popover{background-color: #fff;color: #666;font-size: 17px;border-radius: 5px;box-shadow: 0 3.5px 2.5px rgba(0,0,0,0.38);}
  }
}
// 头部下拉
.topDropdown {
  width: (323px) /2;
  height: (70px) /2;
  border: 1px solid $topLinkColor;
  margin: 2px auto 0;
  border-radius: 5px;
  line-height: 35px;
  font-size: 14px;
  color: $topLinkColor;
  position: relative;
  .betType{font-size: (34px)/2;color: #fa6200;background: $topLinkColor;border-radius: 3px;display: inline-block;width: 20px;height: 20px;text-align: center;line-height: 20px;margin-right: 10px;vertical-align: text-bottom; }
  .t1{margin-right: 5px;}
  &:after{    content: '';
    width: 6px;
    height: 6px;
    border-left: 1px solid $topLinkColor;
    border-top: 1px solid $topLinkColor;
    position: absolute;
    transform: rotateZ(-135deg);
    right: 6px;
    top: 13px;}
}
.betTypePopup{
  &.vux-popup-dialog{
    top:44px;bottom: 0;background: #fff;overflow: hidden;
    .wrapper{      top:55px;   bottom:0;position: absolute;left: 0;right: 0;}
  }
}
.betTypeTab{
  &.vux-tab{
    height:55px;padding: 10px 40px;text-align: center;z-index: 3;
    .vux-tab-ink-bar{display: none !important;}
  }
  &.vux-tab .vux-tab-item{
    &.betTypeTabItem{
      height:35px;width: (255px)/2;flex: none;display: inline-block;line-height: 35px;border-radius: 8px;border: 1px solid #999 !important;background: #fff;
      &.vux-tab-selected{background: linear-gradient(to right,#fb8819,#f75404);border: 1px solid transparent !important;color: #fff;position: relative;
        .icon-check{width: 17px;     height: 17px;
          border-radius: 50%;
          background: #fff;
          display: inline-block;
          vertical-align: -3px;
          position: relative;
          margin-right: 10px;
          &:before{content: '';width: 7px;height: 5px;border-left: 1px solid #fa6200;border-bottom: 1px solid #fa6200;position: absolute;
            top:4px;transform: rotateZ(-45deg);left: 5px;}
        }

      }
      &+.betTypeTabItem{margin-left: 40px;}
    }
  }
}
.betTypeTabContent{
  .bttc{display: none;
    &.active{display: block;}
  }
  .betType{font-size: 14px;color: #333;
    a{color: inherit;}
    .betBigType{height:30px;line-height: 30px;background: #f2f2f2;padding: 0 10px;}
    .betExtType{padding: 10px 10px 2px;display: flex;border-bottom: 5px solid #f2f2f2;
      .betTit{width:74px;    line-height: 2.2;}
      .betExt{flex: 1;
        a{width: 83px;height: 30px;line-height: 30px;text-align: center;margin-right: 7.5px;display: inline-block;vertical-align: 0;margin-bottom: 7.5px;border: 1px solid #999;border-radius: 3px;    white-space: nowrap;          font-size: 13px;
          &.cur{border-color: #fa6200;color: #fa6200;}
        }
      }
    }
  }
}
// 投注区域头部
.bet-top{
  background: url(/static/cssImages/ssc/betHeaderbg.jpg) no-repeat center /cover;padding: 10px;display: flex;font-size: 14px;color: #fff;height: 120px;
  .left-p{width: (480px)/2;
    .qishu{margin-bottom: 14px;
      .l-name{margin-right: 5px;}
      .icon-ques1{background: url("/static/cssImages/ssc/icon-ques1.png") center/100%;width: 15px;  height:15px;display: inline-block;vertical-align: -2px;        margin-left: 6px;}
    }
  }
  .right-p{flex: 1;width: (230px)/2;text-align: center;
    .qishu{margin-bottom: 14px;
      .l-qs{margin: 0 5px;}
    }
    .count-down{margin-top: 10px;font-size: 0;
      span{vertical-align: top;width: (28px)/2;height: (43px)/2;display: inline-block;margin: 0 5px;font-size: 0;
        &.cd_n1{background: url("/static/cssImages/ssc/count-down-1.png") no-repeat center / (7px/2);}
        &.cd_n2{background: url("/static/cssImages/ssc/count-down-2.png") no-repeat center / (27px/2);}
        &.cd_n3{background: url("/static/cssImages/ssc/count-down-3.png") no-repeat center / (26px/2);}
        &.cd_n4{background: url("/static/cssImages/ssc/count-down-4.png") no-repeat center / (27px/2);}
        &.cd_n5{background: url("/static/cssImages/ssc/count-down-5.png") no-repeat center / (27px/2);}
        &.cd_n6{background: url("/static/cssImages/ssc/count-down-6.png") no-repeat center / (27px/2);}
        &.cd_n7{background: url("/static/cssImages/ssc/count-down-7.png") no-repeat center / (25px/2);}
        &.cd_n8{background: url("/static/cssImages/ssc/count-down-8.png") no-repeat center / (27px/2);}
        &.cd_n9{background: url("/static/cssImages/ssc/count-down-9.png") no-repeat center / (26px/2);}
        &.cd_n0{background: url("/static/cssImages/ssc/count-down-0.png") no-repeat center / (27px/2);}
        &.cd_dot{background: url("/static/cssImages/ssc/count-down-dot.png") no-repeat center / 3.5px;width: 3.5px;}
      }
    }
  }
}
// 投注区域
.bet-area{
  .bet-h{height: 44px;background-color: $betHBg;border-bottom: 1px solid $betHBorderColor;
    .bet-h-p{float: left;width: 40px;height: 30px;text-align: center;line-height: 30px;color: #fff;font-size: 14px;background: $themeColor;border-radius: 2px;position: relative;margin: 7px 0 0 10px;
      &:after{content: '';border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 6px solid $themeColor;border-bottom: 0;position: absolute;left: 50%;margin-left: -6px;bottom: -6px;}
    }
    .bet-h-f{
      width: (434px/2);    float: right;margin: 6.5px 10px 0 0;
      .vux-button-group > a.vux-button-tab-item-first,.vux-button-group > a.vux-button-tab-item-first:after{    border-top-left-radius: 5px;        border-bottom-left-radius: 5px;}
      .vux-button-group > a.vux-button-tab-item-last,.vux-button-group > a.vux-button-tab-item-last:after{ border-top-right-radius: 5px;        border-bottom-right-radius: 5px;}
      .vux-button-group > a.vux-button-tab-item-middle:after,.vux-button-group > a.vux-button-tab-item-last:after{    border-right: 1px solid #d3d3d3;        border-top: 1px solid #d3d3d3;        border-bottom: 1px solid #d3d3d3;}
      .vux-button-group > a.vux-button-tab-item-first:after{border: 1px solid #d3d3d3;}
      .vux-button-group > a.vux-button-group-current{background: $themeColor;}
    }
  }
  .bet-c{padding-bottom: 10px;    overflow: hidden;
    .num{margin-top: 10px;margin-left: 14px;float: left;
      .n-p{width: (76px/2);height: (80px/2);display: inline-block;vertical-align: top;background: url("/static/cssImages/lotto/ssc/bet-num-bg.png") no-repeat center top /100%;font-size: 22px;color: $themeColor;text-align: center;    line-height: 38px;
        &.active{background: url("/static/cssImages/lotto/ssc/bet-num-bg-active.png") no-repeat center top /100%;
          color: #fff;
        }
      }
      .n-t{display: block;font-size: 14px;color: #666;text-align: center;    line-height: 1;     margin-top: 2px;}
    }
  }
}

// 开奖记录
.bet-record-switch{height: 22px;background: url("/static/cssImages/ssc/bet-result-close-bg.png") no-repeat center bottom/100% (21px/2);position: relative;    margin-top: -22px;    margin-bottom: 5px;
  .arrow{    width: 6px;
    height: 6px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    left: 50%;
    transform: rotateZ(-45deg);transition: all 0.3s;
    top: 0;
    margin-left: -4px;}
  &.active{
    .arrow{border-color: #999;transform: rotateZ(135deg);}
  }
  &.active{
    background: url("/static/cssImages/ssc/bet-result-open-bg.png") no-repeat center bottom/100% (21px/2);  margin-top: 0;
    margin-bottom: 10px;
  }
}
.bet-record{
  height: 0;overflow: hidden;transition: height 0.3s;position: relative;
  .wrapper{position: absolute;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;}
  &.active{
    height: (374px/2);
  }
}
.betRecordTable{font-size: 14px;color: #333;
  &.vux-table{line-height: 35px;
    .dot-line{position: absolute;    height: 100%;    width: 1px;    background: #999;   right: 0;
      &:before{content: '';width: 7px;height: 7px;background: #999;border-radius: 50%;position: absolute;right: -3px;top: 50%;margin-top: -3.5px;}
    }
    td.le-2{letter-spacing: 2px;}
  }
  &.vux-table td:before, &.vux-table th:before{    border-bottom: 1px solid #e2e2e2;}
  &.vux-table.vux-table-no-content-bordered tr:last-child td:before{border-bottom-width: 0;}
  .theme-color{color:$themeColor;}
}
.table-tips{font-size: 14px;color: #333;text-align: center;}

// 冷热遗漏区
.bet-data-switch-tab{
  height: 41px;
  .wallet{float: left;background: url('/static/cssImages/ssc/icon-wallet.png') no-repeat 10px center/23px;padding-left: 42px;font-size: 14px;color: #999;height: 30px;line-height: 30px;}
  .data-switch-tab{float: right;color: #999;padding-right: 10px;font-size: 0;    height: auto;    display: block;
    .tab-btn{font-size:14px;position:relative;display: inline-block;vertical-align: top;flex:none;height: (49px/2);width: auto;      background: transparent;line-height: (49px/2);padding: 0 8px;border: 1px solid #e3e3e3 !important;border-radius: (49px/4);
      &+.tab-btn{margin-left: 10px;}
      &.cur{
        color: $themeColor;border-color: $themeColor;
        &:before{content: '';height: (9px/2);width: (14px/2);border-left: 1px solid $themeColor;border-bottom: 1px solid $themeColor;display: inline-block;vertical-align: top;    transform: rotateZ(-45deg);         margin-top: 7px;          margin-right: 5px;}
      }
    }
    .vux-tab-ink-bar{display: none !important;}
    .btn-random{background: url("/static/cssImages/lotto/icon-random.png") center / 100%;width: 35px;height: 35px;display: inline-block;vertical-align: top;    margin: -6px 0 0 5px;}
  }
}
// 玩法说明
.bet-help{font-size: 14px;color: #666;padding: 0 10px;    margin-bottom: 5px;}
.icon-bet-help{background: url("/static/cssImages/lotto/icon-ques2.png") center /100%;width: 15px;height: 15px;display: inline-block;vertical-align: top;margin: 3px 0 0 5px;}

// 底部投注区域
.lottery-bet1-footer{
  height: 49px;position: absolute;bottom: 0;left: 0;right: 0;box-shadow: 0 0 4px rgba(0,0,0,0.38);    z-index: 3;
  .btn-random{width: (110px/2);height: (70px/2);display: inline-block;vertical-align: top;margin-left: 10px;margin-top: 7px;border: 1px solid #666;border-radius: 5px;text-align: center;line-height: 33px;color: #333;font-size: (34px/2);}
  .middle-w{display: inline-block;vertical-align: top;}
  .bet-money{background: url("/static/cssImages/lotto/icon-money-bg.png") no-repeat center/100%;width: 35px;height: 35px;margin-left: 33px;margin-top: 7px;display: inline-block;vertical-align: top;line-height: 35px;text-align: center;font-size: 16px;color: $themeColor;}
  .bet-times{width: 90px;   height:35px;font-size: 16px;color: #333;text-align: center;line-height: 33px;border: 1px solid #d5d5d5;border-radius: 5px;margin-top: 7px;margin-left: 8px;
    &:focus{outline: 0;}
  }
  .t-times{font-size: 17px;color: #333;line-height: 49px;display: inline-block;vertical-align: top;margin-left: 6px;}
  .btn-bet{float: right;width: 100px;height: 49px;background: $themeColor;color: $topLinkColor;font-size: 17px;text-align: center;line-height: 49px;
    &.disabled{background: lighten($themeColor,10%)}
  }
  .bet-info{position: absolute;  bottom: 49px;    text-align: center;    left: 0;    right: 0;background: $betInfoBg;font-size: 13px;color: #333;padding: 5px 0;display: none;
    &.show{display: block;}
  }
}
// 圆角设置弹窗
.yuanjiaoDialogContent{margin: -15px -10px;font-size: 14px;color: #333;
  .yj_row{height: 45px;border-bottom: 3px solid #f2f2f2;line-height: 45px;padding: 0 20px;
    .set_n{margin-right: 20px;}
    .vux-checker-item{
      &+.vux-checker-item{margin-left: 22px;}
    }
    &.r_bt{height: 75px;border-bottom: 0;line-height: 1;padding-top: 10px;}
  }
  .betTimesInput{width: 110px;height: 30px;line-height: 28px;background: #e2e2e2;border: 1px solid #999;border-radius: 3px;    padding: 0 5px;    vertical-align: top;    margin-top: 6px;
    &:focus{outline: 0;}
  }
  .rang_wrap{    height: 30px; padding-top: 12px;margin-top: 10px;
    .range-quantity{background-color: $themeColor;}
  }
  .xd_row{height: 45px;line-height: 45px;background: #f2f2f2;padding: 0 20px;}
  .betTip{display: inline-block;line-height: 1;   vertical-align: top;margin-left: 22px;
    .weui-switch:checked, .weui-switch-cp__input:checked ~ .weui-switch-cp__box{border-color:$themeColor;    background-color: $themeColor;}
  }
  .btn-wrap{padding: 15px 20px;text-align: center;
    button{width: 130px;height: 35px;text-align: center;line-height: 33px;appearance: none;border-radius: (35px/2);border: 1px solid #e2e2e2;background: #fff;color: $themeColor;box-shadow: 0 3px 3px #d3d3d3;font-size: 17px;    font-family: inherit;
      &.btn-ok{background: $themeColor;border-color: $themeColor;color: #fff;box-shadow: 0 3px 3px rgba(247,83,4,0.2);}
      &+button{margin-left: 40px;}
    }
  }
}
// 单选按钮样式
.vux-checker-box{display: inline-block;vertical-align: top;
  .vux-checker-item{padding-left: (58px/2);background: url("/static/cssImages/lotto/icon-radio.png") no-repeat 0 / #{(38px/2)};
    &.checked{background: url("/static/cssImages/lotto/icon-radio-checked.png") no-repeat 0 / #{(38px/2)};}
  }
}

//投注结果：
$orange: #fa6200;
.result-wrapper{height:100%;background:#f2f2f2;
  .header{position:relative;z-index:9;
    .purse{position:absolute;right:20px;top:2px;font-size:12px;text-align:center;line-height:16px;
      i{display:block;width:23px;height:24px;background:url(/static/cssImages/purse.png) center bottom no-repeat;background-size:21px;}
      p{position:absolute;width:135px;height:45px;border-radius:5px;right:-10px;top:53px;background:#fff;box-shadow:0 2px 7px 0 #bebcbc;
        color:$orange;font-size:17px;line-height:45px;text-indent:10px;text-align:left;display:none;
        &:before{content:"";width:10px;height:10px;transform:rotate(45deg);background:#fff;position:absolute;top:-5px;right:16px;box-shadow:0 1px 5px 0 #bebcbc;}
        &:after{content:"";width:20px;height:10px;background:#fff;position:absolute;top:0px;right:9px;}
      }
    }
  }
  .wrapper{
      position:absolute;bottom:120px;left:0;right:0;top:57px;margin: 0 15px;background:#fff;border-radius:8px;overflow:hidden;
      .content{height:1000px;background:none;
        .shadow{height:12px;background:linear-gradient(#959595,#fff);position:absolute;top:0;left:0;right:0;margin:auto;z-index:11;border:1px solid #a5a5a5;border-bottom:none;}
        .list{height:230px;position:relative;background:url(/static/cssImages/result-lotte-b.png) bottom center no-repeat;background-size:100%;border-left:1px solid #a5a5a5;border-right:1px solid #a5a5a5;
            h2.tit{font-weight:normal;font-size:15px;color:#e21d1d;text-align:center;line-height:16px;padding-top:18px;position:relative;height:65px;background:url(/static/cssImages/result-lotte-bg.png) top center no-repeat;background-size:100% 100%;
                span{display:block;font-size:12px;}
                i.pu{background:url(/static/cssImages/pu.png) center no-repeat;width:57px;height:53px;background-size:55px;display:inline-block;position:absolute;left:25px;top:12px;}
            }
            .cont{padding:0 15px;
                .hui{font-size:12px;color:#999;line-height:20px;}
                .time{height:32px;line-height:30px;
                    span{float:right;}
                }
                .name{color:#e21d1d;font-size:17px;font-weight:bold;text-indent:1.5em;padding:3px 0;
                    span{float:right;width:75px;height:25px;line-height:23px;color:#999;text-align:center;font-weight:normal;display:inline-block;border:1px solid #999;border-radius:5px;text-indent:0;}
                }
                .price{font-size:14px;color:#333;line-height:24px;padding:0 0 5px 10px;}
            }
        }
        .list:before{position:absolute;bottom:-4px;left:-1px;height:8px;width:1px;background:#f2f2f2;display:block;content:"";z-index:20;}
        .list:after{position:absolute;bottom:-4px;right:-1px;height:8px;width:1px;background:#f2f2f2;display:block;content:"";z-index:20}
      }
  }
  .footer{height:100px;position:absolute;bottom:0;left:0;right:0;margin:auto;background:#fff;box-shadow:1px -3px 5px #dbdbdb;text-align:center;
    .info{background:#f2f2f2;height:25px;line-height:25px;color:#666;padding:0 15px;font-size:14px;text-align:left;
      span{float:right;}
    }
    .link{
      border: 1px solid rgb(226, 226, 226);display:inline-block;text-align:center;line-height: 36px;box-shadow:0 6px 3px #f6f6f6;
      width: 150px;border-radius:20px; height: 40px;color:$orange;font-size:17px;margin:15px 0 15px 15px;float:left;
      &.link-2{float:right;margin-right:15px;margin-left:0;background:linear-gradient(to right,#fb8919,#f75404);color:#fff;box-shadow:0 6px 3px #fddbcc;}
    }

  }
}
// 投注确认弹窗
.betConfirm{text-align: center;font-size: 17px;line-height: 1.5;
  button{width: 130px;height: 35px;text-align: center;line-height: 33px;appearance: none;border-radius: (35px/2);border: 1px solid #e2e2e2;background: #fff;color: $themeColor;box-shadow: 0 3px 3px #d3d3d3;font-size: 17px;    font-family: inherit;margin-top:23px;
    &.btn-ok{background: $themeColor;border-color: $themeColor;color: #fff;box-shadow: 0 3px 3px rgba(247,83,4,0.2);}
  }
}


//-------------------------------------------------信 用 玩 法 Start ---------------------------------------------------

.xin-wrapper{
    .vux-header.header{position:relative;}
    // 头部
    .bet-top{background:url(/static/cssImages/ssc/xinHeaderBg.jpg) no-repeat center/cover;
      .right-p{padding-right:13px;position:relative;
        .count-down span{margin:0 3px;}
        .ask-road{position:absolute;width:25px;height:60px;text-align:center;font-size:15px;right:-10px;top:20px;padding-top:11px;
          border:1px solid rgba(225,225,225,0.3);border-right:none;line-height:18px;border-top-left-radius:15px;border-bottom-left-radius:18px;}
      }
    }
    // 中间投注内容区域
    .xin-bet-box{display:flex;border-top:1px solid #768293;left:0;top:202px;right:0;bottom:0;position:absolute;
      &.beShort{bottom:144px;}
      //左侧选项卡区域：
      .leftBox{width:95px;border-right:1px solid #535460;background:#b4d3f1;overflow:hidden;position:relative;top:0;bottom:0;
        .vux-tab{display:block;height:auto;width:95px;
          .vux-tab-item{border-bottom:1px solid #768293 !important;height:(105px)/2;line-height:50px;border-top:1px solid #fff !important;
            background:linear-gradient(#d9e9f8,#c4dcf4 40%,#b4d3f1 41%);color:#333;font-size:16px;padding-left:15px;position:relative;
            i{display:inline-block;width:8px;height:8px;border-radius:100%;position:absolute;background:#000;left:5px;top:50%;
              margin-top:-3px;border:1px solid #000;box-shadow:-0.5px -0.5px 0.5px 0.5px #fff;}
          }
          .chip{width:14px;height:10px;background:url(/static/cssImages/ssc/chip-red.png) center no-repeat;display:inline-block;background-size:14px;position:absolute;right:2px;top:2px;}
          .vux-tab-item.vux-tab-selected{color:#fff;background:linear-gradient(#aec3df,#81a2cd 40%,#5f88c0 41%);
            i{background:$orange;}
          }
        }
        .vux-tab-ink-bar{display:none !important;}

      }
      //右侧内容区域：
      .rightBox{flex:1;overflow:hidden;background:linear-gradient(#e5f4fd, #c6d1e0);
        .vux-button-group{padding:7px;border-bottom:1px solid #768293;
          .vux-button-tab-item{height:30px;line-height:30px;font-size:14px;color:#666;background:none;}
          .vux-button-group-current{border-radius:30px;color:#fff;background:$orange;}
          .vux-button-tab-item:after{border:none;}
        }
        .dingwei{height:37px;border-bottom:1px solid #768293;font-size:17px;color:#666;text-align:center;line-height:36px;
          .icon-bet-help{vertical-align:middle;margin:-3px 0 0 5px;}
        }
        //彩票内容区域：
        .pour-box{
          .vux-checker-item{width:50%;float:left;height:55px;border-right:1px solid #707c8d;border-bottom:1px solid #707c8d;color:#999;text-align:left;position:relative;background:none;padding:0;
            p{font-size:14px;line-height:53px;padding-left:25px;overflow:hidden;
              span{font-size:17px;color:#666;height:30px;width:30px;line-height:28px;text-align:center;margin-right:10px;display:inline-block;
                &.num{font-size:17px;border:1px solid #999;background:linear-gradient(#fff,#c8d2dc);border-radius:100%;box-shadow:0 1px 1px #999;float:left;margin-top:11px;}
              }
            }
            .top{position:absolute;top:5px;right:5px;font-size:10px;line-height:12px;}
            .bot{position:absolute;bottom:0px;right:5px;line-height:20px;font-size:9px;padding-right:20px;
              &.red{background:url(/static/cssImages/ssc/chip-red.png) right center no-repeat;background-size:18px;}
              &.green{background:url(/static/cssImages/ssc/chip-green.png) right center no-repeat;background-size:18px;}
              &.org{background:url(/static/cssImages/ssc/chip-org.png) right center no-repeat;background-size:18px;}
            }
          }
          .item-selected{color:#fff;background:#5f88c0;
            p span{color:#fff;
              &.num{background:linear-gradient(to bottom right,#fff 40%,#c2dcfe);color:#5f88c0;border-color:#fff;box-shadow:0 1px 1px #fff;}
            }
          }
        }

      }
    }

  .bet-record-switch{background:url("/static/cssImages/ssc/xin-result-close-bg.png") no-repeat center bottom/100% 10.5px;margin-bottom:0;}
  .bet-data-switch-tab{height:38px;background:#e3f1fa;padding-top:5px;
    .data-switch-tab>.tab-btn.cur{border:1px solid $orange !important;}
    .data-switch-tab .tab-btn{border-color:#999 !important;}
    .vux-tab{background:none;}
  }

    //底部下注窗口：
    .bottomBetbox{height:0; border-top:1px solid #535460;box-shadow:0 5px 8px #7089a2 inset;position:absolute;bottom:0; ;z-index:999;overflow:hidden;
      &.active{height:(288px)/2;}
      background:linear-gradient(#9fc2e6 60%,#8fb6df 61% );padding:0 10px;
      .right{float:right;}
      .top{font-size:12px;color:#000;height:40px;line-height:40px;}
      .mid{height:45px; overflow:hidden;
        .btn-1{height:32px;background:#fff;border-radius:6px;border:1px solid #9192a7;float:left;width:155px;
          .vux-x-switch{padding:0;margin:3px;float:left;
            .weui-switch{width:(88px)/2;height:24px;line-height:24px;background:#9a9a9a;
              &:after{width:22px;height:22px;content:'忆';text-align:center;color:#5f88c0;font-size:15px;}
              &:before{width:22px;height:22px;}
              &:checked{background:#5f88c0;border:none;
                &:after{top:1px;}
              }
            }
          }
          .num{height:22px;line-height:22px;border:none;width:60px;margin:4px 5px;display:inline-block;font-size:14px;}
          .clear{width:25px;height:26px;background:#fff; ;line-height:26px;border:1px solid #9192a7;font-size:17px;color:#8e8ea2;text-align:center;border-radius:3px;margin:2px;float:right;}
        }
        &>button{width:85px;height:32px;line-height:32px;border-radius:32px;text-align:center;float:left;border:none;font-size:17px;}
        .btn-2{background:linear-gradient(#fb8518,#f75605);color:#fff;margin-left:20px;}
        .btn-3{float:right;background:#f2f2f2;color:#666;}
      }
      .bot{height:55px;padding-top:8px;
        .swiper-container{padding-right:50px;}
        .swiper-slide{width:auto !important;overflow:hidden;
          span{display:inline-block;background:url(/static/cssImages/ssc/chip-bg.png) no-repeat;width:43px;height:43px;background-size:43px;
            color:#333;text-align:center;line-height:41px;font-weight:bold;margin-right:8px;float:left;}
          span.num-2{font-size:20px;}
          span.num-3{font-size:15px;}
          span.num-4{font-size:12px;}
          span.num-5{font-size:10px;}
          span.num-6{font-size:8px;}
        }
        .turn{right:0px;background:#8fb6df;left:inherit;width:55px;}
        .turn span{display:block;position:relative;
          &:before,&:after{display:block;position:absolute ;width:16px;height:16px ;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);content:'';margin:12px 10px 0 ;}
          &:after{border-top:2px solid #c7dbef;border-right:2px solid #c7dbef;margin:12px 0 0 25px;}
        }
        .swiper-button-disabled{display:none;}
        .swiper-button-prev span{
          &:before,&:after{transform:rotate(-135deg);margin:12px 0 0 15px;}
          &:after{margin-left:30px;}
        }

      }
    }
}

//-------------------------------------------------信 用 玩 法 End ---------------------------------------------------







