// all pages style
// 头部颜色
$headerBg:transparent linear-gradient(to right,#fc901c,#f64c01);
$topLinkColor:#fff;
// 主题色
$themeColor:#fc6b0d;
// footer-bar颜色
$footerBarBg:#fff !important;
.vux-header.header{padding:2px 0 !important;  background:$headerBg ;
	.vux-header-title{font-size: 17px !important;color:$topLinkColor;}
	//头部返回箭头-w
    .vux-header-left .left-arrow:before{border:1px solid $topLinkColor !important;border-width:1px 0 0 1px !important;}
}
.weui-tabbar.footer-bar{background-color:$footerBarBg;box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.18);
    .weui-tabbar__label{font-size: 12px !important;}
    .weui-tabbar__icon{width: (51px) /2;height: (48px)/2;}
    .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon > i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{
        color: $themeColor !important;
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
// global style
.vux-pull-left{float: left !important;}
.vux-pull-right{float: right !important;}

//箭头：
.pub_arrow{border:1px solid #999;border-width:0px 1px 1px 0;transform: rotate(-45deg);display:inline-block;width:13px;height:13px;}
